html,
body {
    width: 100%;
}

body {
    font-family: 'PT Serif', serif;
    color: $mainAccent;
}

a {
    color: $main;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $main;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}
