html,
body {
    width: 100%;
}

body {
    font-family: $textFontFamily;
    color: $mainAccentColor;
    font-size: 1em;
}

a {
    color: rgba($mainAccentColor, 0.7);
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $mainAccentColor;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingFontFamily;
}
