$main: #1E656D;
$mainAccent: #00293C;
$secondary: #F1F3CE;
$secondaryAccent: #F62A00;

$paddingSmall: 10px;
$paddingNormal: 20px;
$paddingLarge: 35px;

$marginSmall: 10px;
$marginNormal: 20px;
$marginLarge: 35px;

$headerHeight: 40px;
$containerTopPaddingOffset: 80px;
