$mainColor: #1E656D;
$mainAccentColor: #00293C;
$secondaryColor: #F1F3CE;
$secondaryAccentColor: #F62A00;
$gray: #565656;

$paddingSmall: 10px;
$paddingNormal: 20px;
$paddingLarge: 35px;

$marginSmall: 10px;
$marginNormal: 20px;
$marginLarge: 35px;

$headerHeight: 40px;
$containerTopPaddingOffset: 100px;

$headingFontFamily: 'Fjalla One', sans-serif;
$textFontFamily: 'Abel', sans-serif;
