.c-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: white;

    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);

    &__inner-container {
        height: $headerHeight;
        padding: $paddingSmall $paddingLarge;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__branding {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin: $marginSmall;

        img {
            height: 50px;
            width: 50px;
        }
    }

    &__title {
        font-size: 20px;
        font-family: 'Fjalla One', sans-serif;
        margin: $marginSmall;

        a {
            color: $mainAccentColor;
        }
    }

    &__navigation {
        display: flex;
        flex-direction: row;
    }

    &__navigation-item {
        padding: $paddingNormal;
        text-transform: uppercase;
        font-weight: bold;

        &--active {

            a {
                display: inline-block;
                position: relative;
                color: $mainAccentColor;

                &:after {
                    position: absolute;
                    content: ' ';
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $mainColor;
                }
            }
        }
    }
}
