<div class="c-header">
    <div class="c-header__branding">
        <div class="c-header__logo">
            <img src="{{ asset('images/logo250x250.png') }}" alt="{{ title }}">
        </div>
        <div class="c-header__title">
            {{ title }}
        </div>
    </div>
    <div class="c-header__navigation">
        <div class="c-header__navigation-item">
            <a href="{{ path('be.landing_page') }}">Home</a>
        </div>
        <div class="c-header__navigation-item">
            <a href="#TODO">Blocks</a>
        </div>
        <div class="c-header__navigation-item">
            <a href="#TODO">Transactions</a>
        </div>
    </div>
</div>
