{% extends 'base.html.twig' %}

{% set activePage = 'blocks' %}

{% block body %}
    <div class="c-all-blocks-page">
        <h1>All Blocks</h1>

        <div class="c-all-blocks-page__blocks">
            {% include 'Block/table-list-blocks.html.twig' with {blocks: blocks} only %}
        </div>
    </div>
{% endblock %}
