{% set title = 'Ethereum Blockchain Explorer' %}
{% set activePage = activePage|default('') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="c-container c-container--with-header-offset">
            {% include 'General/header.html.twig' %}

            {% block body %}{% endblock %}

            {% include 'General/footer.html.twig' %}
        </div>
        <script src="{{ asset('dist/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
