{% extends 'base.html.twig' %}

{% block body %}
    <div class="c-landing-page">
        {% include 'Block/list-blocks.html.twig' with {blocks: latestBlocks} only %}
        {% include 'Transaction/list-transactions.html.twig' with {transactions: latestTransactions} only %}
    </div>
{% endblock %}
