{% extends 'base.html.twig' %}

{% set activePage = 'transactions' %}

{% block body %}
    <div class="c-all-transactions-page">
        <h1>Transactions</h1>

        <div class="c-all-transactions-page__transactions">
            {% include 'Transaction/table-list-transactions.html.twig' with {transactions: transactions} only %}
        </div>
    </div>
{% endblock %}
