<div class="c-transactions__list">
    {% for transaction in transactions %}
        <div class="c-transactions__list-item">
            {{ transaction.txHash }}
        </div>
    {% endfor %}
</div>
